* {
  box-sizing: border-box;
}
/************************** RESET **************************/
html,
body,
div,
span,
embed,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
output,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
main,
section,
article,
aside,
canvas,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/************************** LAYOUT **************************/
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  float: left;
}
.col-lg-12 {width: 100%;        }
.col-lg-11 {width: 91.66666667%;}
.col-lg-10 {width: 83.33333333%;}
.col-lg-9  {width: 75%;         }
.col-lg-8  {width: 66.66666667%;}
.col-lg-7  {width: 58.33333333%;}
.col-lg-6  {width: 50%;         }
.col-lg-5  {width: 41.66666667%;}
.col-lg-4  {width: 33.33333333%;}
.col-lg-3  {width: 25%;         }
.col-lg-2  {width: 16.66666667%;}
.col-lg-1  {width: 8.33333333%; }

.container {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

section.header-top {
  margin-bottom: 0;
}

section {
  margin-bottom: 30px;
}

section.main-menu {
  margin-bottom: 10px;
}


/************************** STYLE **************************/
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background-color: #f4f4f4;
  font-size: 13px;
}




/************************** HEADER **************************/
.header-top {
  background-color: #000;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.nav-top {
  /*margin-left: -10px;*/
  /*margin-right: -10px;*/
  font-family: 'Arial', sans-serif;
}

.nav-top li {
  position: relative;
  /*a litle hack to make top header more beautiful*/
  padding-top: 4px;
  padding-bottom: 8px;
  padding-left: 25px;
}

.nav-top > .list-inline {
  margin-left: -25px;
}

.login .dropdown-block {
  width: 300px;
  padding: 9px 15px 20px;
}

.box-shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(175, 175, 175, .6);
}

.nav-top .dropdown-block {
  border-top: none;
  top: 31px;
}

.login-fast li {
 padding-top: 0;
 padding-right: 0;
 padding-left: 0;

 /**/
 padding-right: 4px;
}

a:hover .link {
  color: #f35050;
}

.link:hover {
  color: #f35050;
}

.login-fast ul {
  padding-left: 10px;
  display: inline-block;
}

.login-fast {
  padding-bottom: 20px;
}

.social a:hover .icon:before,
.menu-cart a:hover .icon:before,
.menu-cart a:hover .cart-quantity:before {
  content: '';
  position: absolute;
  background-color: #fff;
  opacity: 0.3;
}

.nav-top .arrow {
  left: 42px;
}

.login-normal .checkbox {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #333;
}

.login-normal .btn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.account .dropdown-block {
  width: 160px;
}

.account .dropdown-block li {
  width: 100%;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.search-box {
  position: relative;
}

.search-box .form-control {
  padding-right: 32px;
}

/*.search-box .icon {
  position: absolute;
  right: 6px;
  top: 7px;
}*/

.search-box .btn {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 32px;
  height: 32px;
  padding: 6px;
}

.logo {
  text-align: center;
}

.menu-cart li > a > .link {
  color: #333;
  /*make text aligned*/
  display: inline-block;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 1.5em;

  padding-left: 5px;
}

.menu-cart .list-inline > li {
  margin-left: 12px;
  padding-left: 12px;
}

.menu-cart li:first-child {
  margin-left: 0;
  padding-left: 0;
}

.separate {
  border-left: 1px solid #ccc;
}

.menu-cart .icon-cart {
  margin-right: 5px;
}

.cart-quantity {
  display: block;
  position: absolute;
  z-index: 1;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #f35050;
  color: #fff;
  top: -8px;
  left: 12px;

  font-size: 10px;
  text-align: center;
  line-height: 2em;
}

.cart-quantity:before {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  left: 0;
}

.inner-header-main {
  /*margin-left: -10px;*/
  /*margin-right: -10px;*/
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.shopping-cart .arrow {
  left: 250px;
}

.cart-details {
  width: 410px;
  left: -230px;

  padding: 20px;
}

.cart-details td {
  vertical-align: top;
  /*line-height: 2em;*/
}

.product-detail h4 .link {
  font-size: 12px;
  padding-bottom: 5px;
  line-height: 1.4;
}

.cart-details p {
  padding-bottom: 5px;
}

.product-detail {
  padding: 5px;
}

.cart-details .item {
  border-bottom: 1px solid #ccc;
}

h4 {
  /*remove indent*/
  margin-left: -3px;
}

.price {
  font-size: 12px;
}

.price-old {
  text-decoration: line-through;
}

.price-new {
  font-weight: bold;
  color: #f35050;
}

.quantity {
  color: #f35050;
}

.list-item,
.sum {
 margin-bottom: 15px;
}

.sum .price {
  color: #f35050;
  padding-left: 20px;
}

.nav-main .dropdown-block {
  border: none;
}

.nav-main {
  /*margin-left: -10px;*/
  margin-right: 10px;
}
/************************** ICON **************************/
.icon {
  display: inline-block;
  position: relative;
}

.icon-sm0 {
  width: 14px;
  height: 14px;
}

.account .icon {
  top: 2px;
}

.nav-top .icon {
  top: 3px;
  margin-right: 3px;
}

.icon-sm1 {
  width: 17px;
  height: 17px;
}

.icon-sm3 {
  width: 30px;
  height: 30px;
}

.icon-sm3:before {
  width: 30px;
  height: 30px;
}

.icon-sm2:before {
  width: 30px;
  height: 30px
}

.social .icon {
  /*make the social icon look like vertical center align*/
  top: 9px;
}

.icon-key {
  background: url("../image/upload/icon-sprite.png") -1px -1px;
}

.icon-user {
  background: url("../image/upload/icon-sprite.png") -41px -1px;
}

.icon-heart {
  background: url("../image/upload/icon-sprite.png") -81px -1px;
}

.icon-mini-cart {
  background: url("../image/upload/icon-sprite.png") -121px -1px;
}

.icon-mini-phone {
  background: url("../image/upload/icon-sprite.png") -160px 0;
}

.icon-mailbox {
  background: url("../image/upload/icon-sprite.png") -200px 2px;
}

.icon-search {
  background: url("../image/upload/icon-sprite.png") -0px -120px;
}

.icon-mailbox-dark {
  background: url("../image/upload/icon-sprite.png") -40px -120px;
}

.icon-history {
  background: url("../image/upload/icon-sprite.png") -161px -122px;
}

.icon-location {
  background: url("../image/upload/icon-sprite.png") -161px -122px;
}

.icon-note {
  background: url("../image/upload/icon-sprite.png") -161px -122px;
}

.icon-trash {
  background: url("../image/upload/icon-sprite.png") -161px -122px;
}

/**/
.icon-fb {
  background: url("../image/upload/icon-sprite.png") -1px -241px;
}

.icon-tw {
  background: url("../image/upload/icon-sprite.png") -81px -241px;
}

.icon-pin {
  background: url("../image/upload/icon-sprite.png") -161px -241px;
}

.icon-youtube {
  background: url("../image/upload/icon-sprite.png") -241px -241px;
}

.icon-gg {
  background: url("../image/upload/icon-sprite.png") -321px -241px;
}

  /*when nav top hovered*/
.nav-top a:hover .icon-key {
  background: url("../image/upload/icon-sprite.png") -1px -41px;
}

.nav-top a:hover .icon-user {
  /*adjust offset due a mistake of sprite*/
  background: url("../image/upload/icon-sprite.png") -42px -41px;
}

.nav-top a:hover .icon-heart {
  background: url("../image/upload/icon-sprite.png") -81px -41px;
}

.nav-top a:hover .icon-mini-cart {
  background: url("../image/upload/icon-sprite.png") -121px -41px;
}

.nav-top a:hover .icon-mini-phone {
  background: url("../image/upload/icon-sprite.png") -160px -40px;
}

.nav-top a:hover .icon-mailbox {
  background: url("../image/upload/icon-sprite.png") -200px -38px;
}

.nav-top a:hover .icon-history {
  background: url("../image/upload/icon-sprite.png") -161px -122px;
}


.icon-sm2,
.icon-sm2:before {
  width: 23px;
  height: 23px;
}

.icon-cart {
  background: url("../image/upload/icon-sprite.png") -0px -80px;
}

.icon-truck {
  background: url("../image/upload/icon-sprite.png") -40px -80px;
}

.icon-clock {
  background: url("../image/upload/icon-sprite.png") -120px -80px;
}

.icon-box {
  background: url("../image/upload/icon-sprite.png") -80px -80px;
}

.icon-chat {
  background: url("../image/upload/icon-sprite.png") 15px -145px;
}

.icon-phone-bg {
  background: url("../image/upload/icon-sprite.png") -65px -145px;
}

.icon-lg {
  width: 70px;
  height: 70px;
}

.footer-help .icon {
  border-radius: 50%;
}
/************************** DROPDOWN **************************/
.dropdown {
  position: relative;
}

.dropdown-block {
  position: absolute;
  z-index: 99;
  display: none;

  /**/
  background-color: #fff;
  border: 1px solid #ccc;

  /**/
  color: #333;
}

.dropdown:hover .dropdown-block {
  display: block;
}


/************************** ARROW **************************/
.arrow {
  position: absolute;
  width: 0;
  height: 0;

  border-top-color: transparent;
  border-top-style: solid;
  
  border-right-color: transparent;
  border-right-style: solid;
  
  border-bottom-color: transparent;
  border-bottom-style: solid;

  border-left-color: transparent;
  border-left-style: solid;
}

.arrow-sm1 {
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
}

.arrow-up.arrow-white {
  border-bottom-color: #fff;
}

.arrow-up.arrow-sm1 {
  top: -10px;
}

.arrow-up.arrow-gray {
  border-bottom-color: #333;
}

.arrow-sm2 {
  border-top-width: 7px;
  border-right-width: 7px;
  border-bottom-width: 7px;
  border-left-width: 7px;
}

.arrow-up.arrow-sm2 {
  top: -14px;
}
/************************** INPUT **************************/
.form-group,
.input-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: inherit;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

/*from bootstrap*/
.form-control::-moz-placeholder {
  color: #999;
  /*opacity: 1;*/
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: inherit;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-text {
  display: inline-block;
  padding: 6px 12px;
  font-size: inherit;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.email-register .input-text {
  width: 180px;
}

/************************** BUTTON **************************/
.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 9px 12px;
  text-align: center;
  vertical-align: middle;
}

.btn-default {
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-default:hover {
  background-color: #f35050;
  color: #fff;
  border-color: #d91818;
}

a.btn {
  text-decoration: none;
}

.btn-none {
  background-color: transparent;
  border: none;
}

.btn-noactive {
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
}

.btn-active {
  background-color: #f35050;
  color: #fff;
  border: 1px solid #d91818;
}

.btn-noactive:hover {
  border-color: #d91818;
  color: #f35050;
}

.btn-active:hover {
  background-color: #333;
  border-color: #000;
}

.cart-details .btn-noactive {
  margin-right: 10px;
}

.cart-details .btn-active {
  margin-left: 10px;
}

.btn-special {
  background-color: #fff;
  font-size: 16px;
}

.btn-special:hover {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.22);
}

.banner-small li {
  width: 216px;
}

.banner-small li a {
  display: block;
  border: 1px solid #ccc;

  line-height: 2.8;
}
/************************** CHECKBOX **************************/
.checkbox {
  margin-bottom: 15px;
}

input {
  /*margin-top: 0px;*/
  /*margin-bottom: 0;*/
  margin-left: 0;
  /*margin-right: 5px;*/
}

.checkbox input {
  /*hack for middle vertical*/
  position: relative;
  top: 1px;
}

/************************** LIST **************************/
.list-unstyled {
  list-style: none;
}

.list-inline,
.nav-bar {
  /*padding-left: 0;*/
  /*negative margin: remove left gutter of <li>*/
  /*margin-left: -15px;*/
  list-style: none;
}

.list-inline > li,
.nav-bar > li {
  display: inline-block;
  /*>> base on your choice*/
  /*padding-right: 5px;*/
  /*padding-left: 15px;*/
}
/************************** LINK **************************/
a {
  text-decoration: none;
  color: inherit;
}

a .link-default {
  text-decoration: underline;
  color: #06c;
}
/************************** BLOCK AD **************************/
.block-ad {
  text-align: center;
}

.inner-block-ad {
  overflow: hidden;
  /*to anchor opacity background when hover*/
  position: relative;
}

.block-ad a {
  display: inline-block;
  width: 100%;
  position: relative;
  left: 50%;
}

.block-ad img {
  position: relative;
  left: -50%;
}

.inner-block-ad:hover:before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
}
/************************** FONT & GLYPHICON **************************/
/*@import url(//fonts.googleapis.com/css?family=Open+Sans);*/

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-search:before {
  content: "\e003";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-triangle-right:before {
  content: "\e250";
}

.glyphicon-house:before {
  content: "\e021";
}

/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}*/
/************************** NAV **************************/
.mega-menu-anchor {
  /*make an anchor for mega-menu*/
  position: relative;
}

.nav > li {
  position: static;
  margin-right: 30px;
}

.mega-menu {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 23px;
}

.category {
  padding-bottom: 6px;
  /**/
  color: #333;
  font-size: 12px;
  font-weight: bold;
}

.category > .link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.category {
  border-bottom: 4px solid transparent; 
}

.category:hover {
  border-bottom-color: #ccc;
}

.mega-menu {
  display: none;
}

.category:hover .mega-menu {
  display: block;
}

.mega-menu {
  padding: 10px;
}

.mega-menu .link {
  color: #333;
  font-size: 12px;
  font-weight: bold;
}

.active > a > .link {
  color: #f35050;
}

.mega-menu-brand > ul {
  padding-bottom: 30px;
}

.mega-menu-brand > ul > li {
  margin-right: 20px;
}

.illus {
  margin-bottom: 10px;
}

.brand-filter-block .group-link {
  -webkit-column-count: 4;
     -moz-column-count: 4;
}

.group-link h3 {
  color: #333;
  padding-top: 8px;
  padding-bottom: 13px;
}

.group-link h3 .link {
  font-size: 35px;
  font-weight: bold;
}

.group-link {
  color: #555;
}

.group-link li {
  padding-bottom: 13px;
}

.brand-filter-block {
  display: none;
  /*opacity: 0.3;*/
}

.brand-filter-block.active {
  display: block;
  /*opacity: 0.7;*/
}

.group-link-col {
  margin-right: 20px;
  border-top: 1px solid #ccc;
  padding-bottom: 30px;
}


.group-link-col h3 {
  padding-top: 15px;
  padding-bottom: 20px;
}

.group-link-col h3 .link {
  font-size: 13px;
  font-weight: bold;
}

.mega-menu-trend {
  padding-bottom: 40px;
}

.mega-menu-trend h3 {
  color: #555;
  padding-top: 15px;
  padding-bottom: 20px;
}

.mega-menu-trend h3 .text {
  font-size: 13px;
  font-weight: bold;
}

.mega-menu-trend img.illus {
  padding-bottom: 25px;
}

.mega-menu-trend .btn {
  padding-left: 25px;
  padding-right: 25px;
}
/************************** BANNER **************************/
.wrap-banner {
  /*margin-left: -10px;*/
  /*margin-right: -10px;*/
}

.banner-small {
  width: 436px;
  /*margin-left: 10px;*/
}

.banner-ads {
  margin-bottom: 10px;
}

.banner-small a {
  /*display: inline-block;*/
  margin-left: 10px;
  /*remove 4px space of inline block element*/
  margin-right: -4px;
  /**/
  margin-bottom: 10px;
}

.banner-ads-img {
  width: 50%;
  float: left;
}
/************************** RECOMMENDED **************************/
/************************** TITLE **************************/

.wrap-title {
  padding-bottom: 20px;
}

.title {
  /*to anchor button more*/
  position: relative;
  text-align: center;

}

.title h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
}

.title-strike h2 {
  display: inline-block;
  background-color: #f4f4f4;
  padding-left: 20px;
  padding-right: 20px;
}

.title-strike:before {
  /*add horizontal line*/
  content: '';

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 0;
  width: 100%;

  border-top: 1px solid #ccc;
}

.title-strike {

}

.btn-more {
  position: absolute;
  right: 0;
  top: 7px;
  text-transform: uppercase;
  font-size: 9px;

  background-color: #f4f4f4;
  padding-left: 10px;
  padding-right: 12px;
}

.btn-more:after {
  /*make arrow have width *& heigh*/
  content: '';

  position: absolute;
  /*top: -1px;*/
  right: 0px;
  width: 0;
  height: 0;

  border-top-color: transparent;
  border-top-style: solid;
  
  border-right-color: transparent;
  border-right-style: solid;
  
  border-bottom-color: transparent;
  border-bottom-style: solid;

  border-left-color: #333;
  border-left-style: solid;


  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.btn-more:hover:after {
  border-left-color: #f35050;
}


/************************** DECORATION STARS **************************/
.deco-stars {
  /*to anchor */
  position: relative;
  padding-left: 175px;
  padding-right: 175px;

  color: #74757a;
}

.deco-stars:before {
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 0;

  content: '';
  width: 100%;

  border-top: 1px solid #ccc;
}

.three-stars {
  padding-left: 8px;
  padding-right: 8px;

  background-color: #f4f4f4;
}

.star:before {
  content: "\2605";;
}

.star-nm {
  /*font-size: inherit;*/
}

.star-bg {
  font-size: 1.4em;
}

.star-bg {
  /*vertical center if request*/
  position: relative;
  top: 1px;
}
/************************** PRODUCT **************************/

.product-list {
  margin-left: -10px;
  margin-right: -10px;
}

.product-item {
  padding-left: 10px;
  padding-right: 10px;

  float: left;
}

.product-list-4col-lg .product-item {
  width: 25%;
}

.product-list-6col-lg .product-item {
  width: 16.66666667%;
}

.product-4-col-lg li:first-child,
.product-6-col-lg li:first-child {
  margin-left: -20px;
}

.product {
  background-color: #fff;
  /*anchor status icon*/
  position: relative;
  border: 1px solid transparent;
}

.product:hover {
  border-color: #ccc;
}

.product img {
  max-width: 100%;
  padding-bottom: 15px;
}

.caption {
  text-align: center;
}

.serial-no {
  font-size: 35px;
  padding-bottom: 10px;
}

.serial-no:after {
  content: '.';
}

.product-name {
  height: 60px;
  font-size: 13px;
  padding-bottom: 15px;
  color: #555;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;

  line-height: 1.4;
}

.buy {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.buy .price {
  line-height: 2.4;
}

.recommended .price {
  font-size: 17px;
  font-weight: bold;
}

.price:after {
  content: ' đ';
}

.status {
  position: absolute;
  z-index: 1;

  right: 15px;
  top: 15px;


  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #333;

  text-align: center;
  color: #fff;

  font-size: 13px;
  line-height: 2.8;

}

.recommended .buy {
  text-align: left;
}

.new-product .buy {
  text-align: center;
}

.new-product .price {
  font-size: 13px;
  font-weight: bold;
}

.promotion .buy {
  padding-left: 25px;
  padding-right: 25px;
}
/************************** DISCOVERY **************************/
.discovery {
  text-align: center;
}

.course-name {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
}

.deco-line {
  display: inline-block;
  width: 35%;
  border: 1px solid #ccc;
}

.discovery .register {
  display: inline-block;
  /*anchor right arrow*/
  position: relative;

  padding-top: 5px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;

  /*padding-left: 20px;*/
  padding-right: 20px;
  padding-bottom: 20px;
}

.discovery .register:after {
  /*make arrow have width *& heigh*/
  content: '';

  position: absolute;
  top: 5px;
  right: 0;
  width: 0;
  height: 0;

  border-top-color: transparent;
  border-top-style: solid;
  
  border-right-color: transparent;
  border-right-style: solid;
  
  border-bottom-color: transparent;
  border-bottom-style: solid;

  border-left-color: #333;
  border-left-style: solid;


  border-top-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-left-width: 6px;
}

.discovery .register:hover:after {
  border-left-color: #f35050;
}

.discovery .product:hover {
  border-color: transparent;
}
/************************** FOOTER **************************/
.footer-support h2 {
  font-size: 30px;
}

.footer-main {
  background-color: #141414;
  color: #999;
}

.support {
  color: #999;
}

.input-group {
  /*to anchor button*/
  position: relative;

  display: inline-block;
}

.btn-inline {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  /*width: 100%;*/
  height: 100%
}

.email-register .glyphicon {
  padding-right: 2px;
}

.input-group {
  padding-left: 5px;
}

section.footer-support {
  margin-bottom: 10px;
}

.footer-menu {
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 2px solid #333;
}

.footer-social {
  padding-bottom: 25px;
  border-bottom: 2px solid #333;
}


.inner-footer-menu,
.inner-footer-social,
.inner-copyright {
  margin-left: -10px;
  margin-right: -10px;
}

h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-menu li {
  padding-bottom: 10px;
}

footer .col-lg-1,
footer .col-lg-2,
footer .col-lg-3,
footer .col-lg-9 {
  padding-left: 10px;
  padding-right: 10px;
}

.voucher {
  border: 4px solid #1d1d1d;
  padding: 4px;

  text-align: center;
  line-height: 1.6;
}

.inner-voucher {
  border: 1px solid #3d3d3d;
  padding-left: 10px;
  padding-right: 10px;
}


.voucher h5 {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid #333;
}

.voucher-now {
  padding-top: 10px;
  padding-bottom: 10px;
}

.voucher-now strong {
  font-size: 1.2em;
  font-weight: bolder;
}

.voucher button {
  color: #fff;
}

.voucher form {
  padding-top: 10px;
}

.col-blank {
  height: 100px;
}

.footer-help > div {
  /*to anchor background*/
  display: block;
  position: relative;
  /*font*/
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.footer-help > div:hover {
  color: #555;
}

.footer-help .icon {
  z-index: 2;
}

.footer-help > div:before {
  position: absolute;
  z-index: 1;
  content: '';
  background-color: #fff;
  margin-left: 55px;
  /*margin-bottom: 15px;*/
}

.footer-help > div:hover:after {
  position: absolute;
  z-index: 3;
  content: '';
  background-color: rgba(100,100,100,0.6);
  margin-left: 55px;
  /*margin-bottom: 15px;*/
}

.footer-help .icon,
.footer-help > div:before,
.footer-help > div:hover:after {
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  /*margin-top: 10px;*/
  border-radius: 50%;
}

.footer-help .icon {
  margin-bottom: 15px;
}

.footer-social h5 {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.6;
}

.footer-social .icon {
  margin-right: 10px;
}

.footer-social span {
  display: inline-block;
  line-height: 1.4;
}

.copyright {
  /*padding-bottom: 25px;*/
  /*font*/
  color: #333;
  line-height: 1.8;
}

.copy-owner {
  text-align: right;
}

.left-boder {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #333;
}
/************************** TEXT **************************/

/************************** LAYOUT **************************/
/************************** LAYOUT **************************/
/************************** LAYOUT **************************/
/************************** LAYOUT **************************/
/************************** LAYOUT **************************/
/************************** LAYOUT **************************/
/************************** LAYOUT **************************/
/************************** LAYOUT **************************/
/************************** LAYOUT **************************/
